@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.q-b-header.is-open .q-b-header-background {
  left: 0;
}
.q-b-header-button-wrapper {
  margin-left: auto;
}
.q-b-header-icon {
  display: none;
}

.q-b-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.q-b-navigation-list.is-open {
  right: 0;
}
.q-b-header-icon-menu {
  display: block;
}

.q-b-header-icon-button.is-open .q-b-header-icon-menu {
  display: none;
}

.q-b-header-icon-button.is-open .q-b-header-icon-close {
  display: block;
}

.q-b-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 60px;
  background: rgba(0, 0, 2, 0.65);
}

.q-b-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(0, 0, 2, 0.65);
  backdrop-filter: blur(22px);
}
.q-b-header.is-open .q-b-header-background {
  left: 0;
}
.q-b-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.q-b-header-icon-menu {
  display: block;
}

.q-b-header-icon-button.is-open .q-b-header-icon-menu {
  display: none;
}

.q-b-header-icon-button.is-open .q-b-header-icon-close {
  display: block;
}

.q-b-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 16px;
  position: relative;
}

.q-b-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  transition: 0.3s;
  z-index: 999;
  padding: 50px;
  gap: 28px;
  background: rgba(0, 0, 2, 0.55);

  backdrop-filter: blur(18px);
}

.q-b-navigation-list.is-open {
  right: 0;
}

.q-b-navigation-link {
  font-family: Inter;
  font-weight: 300;
  font-size: 16px;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  border-radius: 12px;
  padding: 8px;
}

.q-b-navigation-link:hover,
.q-b-navigatioт-link:focus {
  color: rgba(8, 10, 10, 1);
  background: rgba(255, 208, 45, 1);
}

.q-b-header.is-open {
  background-color: transparent;
}

.q-b-navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .q-b-navigation-img {
    display: flex;
  }
  .q-b-policy-terms-header-icon-menu {
    display: none;
  }

  .q-b-header {
    width: 100%;
    height: 80px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background: rgba(0, 0, 2, 0.65);
    backdrop-filter: blur(22px);
  }

  .q-b-header-background {
  }
  .q-b-header-icon-button {
    display: none;
  }
  .q-b-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .q-b-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 22px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }

  .q-b-navigation-link {
    font-family: Inter;
    font-weight: 300;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;

    text-decoration: none;
  }

  .q-b-navigation-item-desk {
    display: none;
  }
}
.q-b-home {
  width: 375px;
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Home.jpg");
  margin: auto;
}
.q-b-home-container {
  width: 375px;
  padding: 243px 42px 0px;
  margin: auto;
}

.q-b-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(241, 241, 241, 1);
}

.q-b-home-title {
  font-family: Inter;
  font-weight: 900;
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 208, 45, 1);
}

.q-b-home-text {
  font-family: Inter;
  font-weight: 800;
  font-size: 20px;
  text-align: center;

  padding: 10px 0;
}
.q-b-home-text-two {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .q-b-home {
    width: 1440px;
    height: 600px;
    background-image: url("/img/h.png");
  }
  .q-b-home-container {
    width: 1440px;
    padding: 200px 81px 0px;
  }

  .q-b-home-title {
    font-family: Inter;
    font-weight: 900;
    font-size: 56px;
  }

  .q-b-home-text {
    font-family: Inter;
    font-weight: 800;
    font-size: 28px;

    padding: 10px 0;
  }
  .q-b-home-text-two {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
  }
}
.q-b-about {
  margin: auto;
  background: rgba(0, 0, 2, 1);
}
.q-b-about-container {
  width: 375px;
  height: 1106px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/a.png");

  padding: 32px 20px 0px;
  margin: auto;
}
.q-b-about-title {
  font-family: Inter;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(90deg, #ffffff 0%, #ffd02d 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.q-b-about-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  padding-top: 28px;
  text-align: center;
}

.q-b-about-text-bold {
  font-family: Inter;
  font-weight: 900;
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;

  padding: 44px 22px 22px;
}
.q-b-about-list {
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 22px;
}

@media screen and (min-width: 1200px) {
  .q-b-about-container {
    width: 1440px;
    height: 600px;
    padding: 32px 60px;
    background-image: url("/img/aa.png");
  }
  .q-b-about-title {
    font-family: Inter;
    font-weight: 700;
    font-size: 44px;
  }
  .q-b-about-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;

    width: 620px;
    padding-top: 40px;
    text-align: center;
  }

  .q-b-about-text-bold {
    font-family: Inter;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;

    width: 620px;
    padding: 54px 40px 22px;
  }
  .q-b-about-list {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    text-align: center;

    gap: 12px;
    width: 620px;
  }
  .q-b-about-two {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    padding-top: 54px;
    width: 620px;
  }
}
.q-b-why {
  background: linear-gradient(96.62deg, #000002 0%, #00177c 96.46%);
}
.q-b-why-container {
  width: 375px;
  margin: auto;
  padding: 32px 20px;
}
.q-b-why-title-text {
  font-family: Inter;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
  padding: 28px 0 22px;
}
.q-b-why-list {
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.q-b-why-item {
  width: 335px;
  border-radius: 22px;
  padding: 22px;
  box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.55);

  background: linear-gradient(101.95deg, #1d42d9 0%, #020251 100%);
}
.q-b-why-text-bold {
  font-family: Inter;
  font-weight: 900;
  font-size: 22px;
  text-align: center;
  padding-bottom: 20px;
}
.q-b-why-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  text-align: center;

  padding-top: 12px;
}
@media screen and (min-width: 1200px) {
  .q-b-why-container {
    width: 1440px;
    padding: 32px 97px;
  }

  .q-b-why-title-text {
    font-family: Inter;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    text-transform: capitalize;
    padding: 40px 0 34px;
  }
  .q-b-why-list {
    display: flex;
    flex-direction: row;
    gap: 23px;
  }
  .q-b-why-item {
    width: 400px;
    border-radius: 22px;
    padding: 22px;
  }
  .q-b-why-text-bold {
    font-family: Inter;
    font-weight: 900;
    font-size: 22px;
    text-align: center;
    padding-bottom: 20px;
  }
  .q-b-why-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    text-align: center;

    padding-top: 12px;
  }
}

.q-b-how {
  margin: auto;
  width: 375px;
  height: 1087px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/2.png");
}
.q-b-how-container {
  margin: auto;
  width: 375px;
  padding: 32px 20px;
}
.q-b-about-title-two {
  background: linear-gradient(90deg, #000002 0%, #ffd02d 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.q-b-how-text-bold {
  padding-top: 28px;
  font-family: Inter;
  font-weight: 500;
  font-size: 20px;
  color: rgba(0, 0, 2, 1);
  text-align: center;
}
.q-b-how-list {
  padding-top: 18px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.q-b-how-item {
  border-radius: 12px;
  padding: 12px 10px;
  background: linear-gradient(90deg, #1d42d9 0%, #020251 100%);
}
.q-b-how-texts {
  font-family: Inter;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
}
.q-b-how-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  padding-top: 6px;
}
@media screen and (min-width: 1200px) {
  .q-b-how {
    width: 1440px;
    height: 700px;
    background-image: url("/img/22.png");
  }
  .q-b-how-container {
    margin: auto;
    width: 1440px;
    padding: 32px 60px;
  }
  .q-b-how-text-bold {
    padding-top: 40px;
    font-family: Inter;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
  }
  .q-b-how-list {
    padding-top: 27px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 620px;
  }
  .q-b-how-item {
    border-radius: 12px;
    padding: 12px 10px;
    background: linear-gradient(90deg, #1d42d9 0%, #020251 100%);
  }
  .q-b-how-texts {
    font-family: Inter;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
  }
  .q-b-how-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    padding-top: 6px;
  }
}

.q-b-features-container {
  width: 375px;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Form1.png");
  padding: 32px 20px;
}
.q-b-features-text {
  padding: 28px 0 0px;
  font-family: Inter;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
}
.q-b-features-text-bold {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;

  padding-top: 12px;
}
.q-b-features-text-bolds {
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
  color: rgba(241, 241, 241, 1);
  text-decoration: none;
  text-align: left;
}
.q-b-features-div {
  display: flex;
  flex-direction: column-reverse;
  gap: 22px;
  padding-top: 22px;
}
.q-b-features-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.q-b-features-input {
  border: none;
  border-radius: 12px;
  padding: 18px 12px;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
}
.q-b-features-textarea {
  height: 100px;
  width: 335px;
  resize: none;
}
.q-b-features-button {
  width: 245.8984375px;
  height: 74.73370361328125px;

  background-color: transparent;
  border: none;
  margin: auto;
  margin-top: 6px;
}
@media screen and (min-width: 1200px) {
  .q-b-features-container {
    width: 1440px;
    height: 800px;
    margin: auto;
    padding: 32px 60px;
    background-image: url("/img/Form.png");
    position: relative;
  }

  .q-b-features-div {
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
    padding-top: 69px;
  }
  .q-b-features-text {
    padding: 0px;
    font-family: Inter;
    font-weight: 500;
    font-size: 22px;
    width: 620px;
    text-align: center;
    position: absolute;
    padding: 0 10px;
    top: 154px;
    left: 60px;
  }
  .q-b-features-form {
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding-top: 140px;
  }
  .q-b-features-img {
    content: url("/img/3.png");
  }
  .q-b-features-input {
    border: none;
    background: rgba(241, 241, 241, 1);
    border-radius: 12px;
    padding: 18px 28px;
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
  }
  .q-b-features-textarea {
    height: 100px;
    width: 620px;
    resize: none;
  }
  .q-b-features-button {
    width: 245.8984375px;
    height: 74.73370361328125px;

    background-color: transparent;
    border: none;
    margin: auto;
    margin-top: 8px;
  }
}

.q-b-container {
  padding: 100px 16px 40px;
  width: 375px;
  margin: auto;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 1);
}

.q-b-container h1 {
  font-family: Inter;
  font-weight: 700;
  font-size: 28px;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}

.q-b-container h2 {
  margin-top: 10px;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
}

.q-b-container h3 {
  margin-top: 10px;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
}

.q-b-container ul {
  margin-top: 10px;
  list-style-type: disc;
  margin-left: 20px;
}

.q-b-container ul li {
  margin-bottom: 10px;
}
.q-b-container p {
  margin-top: 10px;
}
.q-b-container a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
}

.q-b-container a:hover {
  text-decoration: underline;
}

strong {
  color: #000;
}
@media screen and (min-width: 1200px) {
  .q-b-container {
    padding: 140px 86px 40px;
    width: 1440px;
    margin: auto;
  }

  .q-b-container h1 {
  }

  .q-b-container h2 {
    margin-top: 20px;
  }

  .q-b-container h3 {
    margin-top: 20px;
  }

  .q-b-container ul {
    margin-top: 20px;
  }

  .q-b-container ul li {
    margin-bottom: 10px;
  }
  .q-b-container p {
    margin-top: 20px;
  }
}

.q-b-footer-container {
  width: 375px;
  margin: auto;
  padding: 28px 71px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 22px;
  color: rgba(255, 255, 255, 1);
}

.q-b-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.q-b-footer-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  text-transform: capitalize;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration: none;
  color: inherit;
}

.q-b-footer-copyright {
  font-family: Inter;
  font-weight: 600;
  font-size: 16px;
  padding-bottom: 22px;
  text-align: center;
}
.q-b-footer-title {
  font-family: Inter;
  font-weight: 900;
  font-size: 26.35px;
  text-align: center;

  color: rgba(255, 208, 45, 1);
}
@media screen and (min-width: 1200px) {
  .q-b-footer-container {
    width: 1440px;
    padding: 29px 60px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 241px;
  }

  .q-b-footer-wrapper {
    display: flex;
    flex-direction: column;

    gap: 12px;
  }
}

.q-b-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 335px;
  padding: 30px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 14px 42px 0px rgba(8, 15, 52, 0.06);

  z-index: 1000;
  display: none;
}

.q-b-cookie-popup-text-two {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;

  color: rgba(125, 149, 150, 1);
}

.q-b-cookie-button-container {
  padding: 22px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.q-b-cookie-button {
  border: none;
  background-color: transparent;
}

#accept-cookies {
  width: 150px;
  border-radius: 56px;
  padding-top: 14px;
  padding-bottom: 16px;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0px;
  color: rgba(8, 10, 10, 1);

  background: rgba(241, 249, 154, 1);
}

.q-b-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .q-b-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .q-b-cookie-popup-text-two {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0%;

    width: 332px;
  }

  .q-b-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .q-b-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 740px;
    padding: 32px 82px;
    display: none;
  }
}
